<ModuleLabel @title={{this.module.title}} />
<div class="module-content">
<ValueInputNumber
  @boundValue={{this.module.value}}
  @valueChanged={{this.valueInputChanged}}
/>
</div>
<ModulePorts
  @portGroups={{this.module.portGroups}}
  @portStartedConnecting={{this.portStartedConnecting}}
  @portFinishedConnecting={{this.portFinishedConnecting}}
  @mouseEnterPort={{this.mouseEnterPort}}
  @mouseLeavePort={{this.mouseLeavePort}}
  @disconnectPort={{this.disconnectPort}}
/>
