{{#if hasSettings}}
  <h4>{{module.label}} Settings</h4>
  <ul>
    {{#each module.settings as |setting|}}
      <li>
        <span class="setting-label">{{setting.label}}</span>
          {{#if setting.isNumber}}
            {{setting-input value=setting.value setting=setting}}
          {{else}}
            {{select-menu setting=setting}}
          {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if hasPorts}}
  <h4>{{module.label}} Ports</h4>
  <ul>
    {{#each module.ports as |port|}}
      <li>
        {{port-setting port=port}}
      </li>
    {{/each}}
  </ul>
{{/if}}