{{patch-diagram
  patch=patch
  needsUpdate=diagramNeedsUpdate
  didUpdate=(action 'diagramDidUpdate')
  removeConnection=(action 'removeConnection')
  moduleDeselected=(action 'moduleDeselected')
  movingModule=movingModule
  connectingFromPort=connectingFromPort
}}

{{#ember-wormhole to="settings-container"}}
  {{#if selectedModule}}
    {{module-settings module=selectedModule}}
  {{else}}
    {{patch-settings
      patch=patch
      removePatch=(action 'removePatch')
      patchTitleChanged=(action 'patchTitleChanged')
    }}
    <div class="app-sidebar-section modules-list"><h4>+ Module</h4>
    <ul>
      <li>{{add-module-menu-item moduleType='clock' label='Clock Test' addModule=(action 'addModule')}}</li>
      <li><a href="#" onclick={{action 'addModule' 'clock'}}>Clock</a></li>
      <li><a href="#" {{action 'addModule' 'clock-div'}}>Clock Div</a></li>
      <li><a href="#" {{action 'addModule' 'out'}}>Out</a></li>
      <li><a href="#" {{action 'addModule' 'ccout'}}>CC Out</a></li>
      <li><a href="#" {{action 'addModule' 'sequence'}}>Sequence</a></li>
      <li><a href="#" {{action 'addModule' 'scale'}}>Scale</a></li>
      <li><a href="#" {{action 'addModule' 'switch'}}>Switch</a></li>
      <li><a href="#" {{action 'addModule' 'maybe'}}>Maybe</a></li>
      <li><a href="#" {{action 'addModule' 'value'}}>Value</a></li>
      <li><a href="#" {{action 'addModule' 'repeat'}}>Repeat</a></li>
    </ul>
    </div>
  {{/if}}
{{/ember-wormhole}}

<div class="modules" id="modules">
  {{#each patch.modules as |module|}}{{component  module.type
                                                  module=module
                                                  remove=(action 'removeModule' module)
                                                  selected=(action 'moduleSelected' module)
                                                  portStartedConnecting=(action 'portStartedConnecting' module)
                                                  portFinishedConnecting=(action 'portFinishedConnecting')
                                                  startedMoving=(action 'moduleStartedMoving' module)
                                                  finishedMoving=(action 'moduleFinishedMoving')
                                                  mouseEnterPort=(action 'mouseEnterPort')
                                                  mouseLeavePort=(action 'mouseLeavePort')
                                                  portDisconnected=(action 'portDisconnected')
                                                  portsChanged=(action 'modulePortsChanged' module)
                                                  layoutChanged=(action 'moduleLayoutChanged' module)
        }}{{/each}}
</div>
