<div class="patch-connections">
  <button {{action 'addModule' 'clock'}}>+Clock</button><button {{action 'addModule' 'clock-div'}}>+Clock Div</button><button {{action 'addModule' 'out'}}>+Out</button><button {{action 'addModule' 'ccout'}}>+CC Out</button><button {{action 'addModule' 'sequence'}}>+Sequence</button><button {{action 'addModule' 'scale'}}>+Scale</button><button {{action 'addModule' 'switch'}}>+Switch</button><button {{action 'addModule' 'maybe'}}>+Maybe</button><button {{action 'addModule' 'value'}}>+Value</button>
</div>

{{patch-diagram 
  patch=patch 
  needsUpdate=diagramNeedsUpdate 
  didUpdate=(action 'diagramDidUpdate')
  removeConnection=(action 'removeConnection') 
  movingModule=movingModule
  connectingFromPort=connectingFromPort
}}

{{#ember-wormhole to="module-settings-container"}}
  {{module-settings module=selectedModule}}
{{/ember-wormhole}}

<div class="modules" id="modules">
  {{#each patch.modules as |module|}}{{component  module.type
                                                  module=module 
                                                  remove=(action 'removeModule' module) 
                                                  selected=(action 'moduleSelected' module)
                                                  portStartedConnecting=(action 'portStartedConnecting' module)
                                                  portFinishedConnecting=(action 'portFinishedConnecting') 
                                                  startedMoving=(action 'moduleStartedMoving' module) 
                                                  finishedMoving=(action 'moduleFinishedMoving')
                                                  mouseEnterPort=(action 'mouseEnterPort')
                                                  mouseLeavePort=(action 'mouseLeavePort') 
                                                  portDisconnected=(action 'portDisconnected')
                                                  portsChanged=(action 'modulePortsChanged' module)
                                                  contentChanged=(action 'moduleContentChanged' module)
        }}{{/each}}
</div>
