<div class="module-header"><ModuleLabel @title={{module.title}} /><IndicatorBlinking @blinkDuration={{this.tickDuration}} @blinkTrigger={{this.latestTriggerTime}} /></div>
<div class="module-content">
  <ToggleButton
    @label='Start'
    @isOn={{this.isStarted}}
    {{on 'click' this.start}}
  /><ToggleButton
    @label='Stop'
    @isOn={{not this.isStarted}}
    {{on 'click' this.stop}}
  />
</div>
<ModulePorts
  @portGroups={{module.portGroups}}
  @portStartedConnecting={{this.portStartedConnecting}}
  @portFinishedConnecting={{this.portFinishedConnecting}}
  @mouseEnterPort={{this.mouseEnterPort}}
  @mouseLeavePort={{this.mouseLeavePort}}
  @disconnectPort={{this.disconnectPort}}
/>
