<div
  class={{this.cssClasses}}
  style={{this.inlineStyles}}
  tabindex="-1"
  {{on "mousedown" this.handleMouseDown}}
  {{on "keydown" this.handleKeyDown}}
  ...attributes
>
  {{yield
    (hash
      portStartedConnecting=this.portStartedConnecting
      portFinishedConnecting=this.portFinishedConnecting
      mouseEnterPort=this.mouseEnterPort
      mouseLeavePort=this.mouseLeavePort
      disconnectPort=this.disconnectPort
    )
  }}
</div>
