<div class="module-header"><ModuleLabel @title={{module.title}} />{{indicator-blinking blinkDuration=triggerDuration blinkTrigger=latestTriggerTime}}</div>
<div class="module-content">
{{value-input-array
  array=module.steps
  inputType=module.inputType
  displayScale=module.displayScale
}}
</div>

<ModulePorts
  @portGroups={{module.portGroups}}
  @portStartedConnecting={{this.portStartedConnecting}}
  @portFinishedConnecting={{this.portFinishedConnecting}}
  @mouseEnterPort={{this.mouseEnterPort}}
  @mouseLeavePort={{this.mouseLeavePort}}
  @disconnectPort={{this.disconnectPort}}
/>
