<div class="app-sidebar-section">
  <h4>{{this.module.name}} Module</h4>
</div>
<div class="app-sidebar-section">
  <ul>
    <li>
      <ValueInputString @boundValue={{this.module.title}} @canBeEmpty={{false}} @target={{this.module}} @property="title" @valueUpdated={{this.titleChanged}} />
    </li>
  </ul>
</div>
{{#if this.hasSettings}}
  <div class="app-sidebar-section">
    <ul>
      {{#each this.module.settings as |setting|}}
        <li>
          {{#let (component setting.type) as |SettingComponent|}}
          <SettingComponent @setting={{setting}} />
          {{/let}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if this.hasPorts}}
  <div class="app-sidebar-section">
    <h4>Ports</h4>
    <ul>
      {{#each this.module.ports as |port|}}
        <li>
          <PortSetting @port={{port}} @addBusConnection={{this.addBusConnection}} />
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
