<ModuleLabel @title={{module.title}} />
<div class="module-content">
  {{#each module.displayedKeyNames as |keyName index|~}}
    <ToggleButton
      @label={{keyName}}
      @isOn={{is-equal keyName this.module.selectedKeyName}}
      @pressed={{fn this.selectKey index}}
    />
  {{~/each}}
</div>
<ModulePorts
  @portGroups={{module.portGroups}}
  @portStartedConnecting={{this.portStartedConnecting}}
  @portFinishedConnecting={{this.portFinishedConnecting}}
  @mouseEnterPort={{this.mouseEnterPort}}
  @mouseLeavePort={{this.mouseLeavePort}}
  @disconnectPort={{this.disconnectPort}}
/>
