<ModuleWrapper
  @module={{@module}}
  @remove={{@remove}}
  @selected={{@selected}}
  @modulePortStartedConnecting={{@modulePortStartedConnecting}}
  @modulePortFinishedConnecting={{@modulePortFinishedConnecting}}
  @startedMoving={{@startedMoving}}
  @finishedMoving={{@finishedMoving}}
  @mouseEnterModulePort={{@mouseEnterModulePort}}
  @mouseLeaveModulePort={{@moduleLeaveModulePort}}
  @portDisconnected={{@portDisconnected}}
  @savePatch={{@savePatch}}
  as |wrapper|
>
  <ModuleLabel @title={{@module.title}} />
  <div class="module-content">
    {{#each @module.displayedKeyNames as |keyName index|~}}
      <ToggleButton @label={{keyName}} @isOn={{is-equal keyName @module.selectedKeyName}} {{on 'click' (fn this.selectKey index)}} />
    {{~/each}}
  </div>
  <ModulePorts
    @portGroups={{@module.portGroups}}
    @portStartedConnecting={{wrapper.portStartedConnecting}}
    @portFinishedConnecting={{wrapper.portFinishedConnecting}}
    @mouseEnterPort={{wrapper.mouseEnterPort}}
    @mouseLeavePort={{wrapper.mouseLeavePort}}
    @disconnectPort={{wrapper.disconnectPort}}
  />
</ModuleWrapper>
