<div class="module-setting" title={{this.titleAttribute}}>
  <span class="setting-label">{{@setting.label}}</span>
  <ValueInputNumber
    @boundValue={{@setting.value}}
    @minValue={{@setting.minValue}}
    @maxValue={{@setting.maxValue}}
    @target={{@setting}}
    @property="value"
  />
</div>
