<span class="setting-label">{{setting.label}}</span>
<ValueInputNumber
  @boundValue={{this.setting.value}}
  @minValue={{this.setting.minValue}}
  @maxValue={{this.setting.maxValue}}
  @valueChanged={{this.valueInputChanged}}
/>
