{{#if this.shouldIncludeSlider}}
  <div class="value-input-array-sliders">
    {{#each this.array.items as |item|~}}
      <ValueInputFader
        @item={{item}}
        @min={{this.array.valueMin}}
        @max={{this.array.valueMax}}
        @step={{this.array.valueStep}}
        @displayScale={{this.displayScale}}
      />
    {{~/each}}
  </div>
{{/if}}
{{#if this.shouldIncludeNumber}}
  <div class="value-input-array-numbers">
    {{#each this.array.items as |item|~}}
      <ValueArrayInputNumber
        @item={{item}}
        @boundValue={{item.value}}
        @min={{this.array.valueMin}}
        @max={{this.array.valueMax}}
        @canBeEmpty={{true}}
        @step={{this.array.valueStep}}
      />
    {{~/each}}
  </div>
{{/if}}
{{#if this.isTypeButton}}
  <div class="value-input-array-buttons">
    {{#each this.array.items as |item|~}}
      <ValueArrayInputButton
        @item={{item}}
        @min={{this.array.valueMin}}
        @max={{this.array.valueMax}}
      />
    {{~/each}}
  </div>
{{/if}}
