<ModuleWrapper
  @module={{@module}}
  @remove={{@remove}}
  @selected={{@selected}}
  @modulePortStartedConnecting={{@modulePortStartedConnecting}}
  @modulePortFinishedConnecting={{@modulePortFinishedConnecting}}
  @startedMoving={{@startedMoving}}
  @finishedMoving={{@finishedMoving}}
  @mouseEnterModulePort={{@mouseEnterModulePort}}
  @mouseLeaveModulePort={{@mouseLeaveModulePort}}
  @portDisconnected={{@portDisconnected}}
  @savePatch={{@savePatch}}
  as |wrapper|
>
  <ModuleLabel @title={{@module.title}} />
  <div class="module-content">
    {{graph-canvas
      lineValues=@module.lineValues
      trianglesValues=@module.trianglesValues
      xMin=@module.xMin
      xMax=@module.xMax
      yMin=@module.yMin
      yMax=@module.yMax
      xScale=@module.xScale
      yScale=@module.yScale
    }}
  </div>
  <ModulePorts
    @portGroups={{@module.portGroups}}
    @portStartedConnecting={{wrapper.portStartedConnecting}}
    @portFinishedConnecting={{wrapper.portFinishedConnecting}}
    @mouseEnterPort={{wrapper.mouseEnterPort}}
    @mouseLeavePort={{wrapper.mouseLeavePort}}
    @disconnectPort={{wrapper.disconnectPort}}
  />
</ModuleWrapper>
