<ModuleWrapper
  @module={{@module}}
  @remove={{@remove}}
  @selected={{@selected}}
  @modulePortStartedConnecting={{@modulePortStartedConnecting}}
  @modulePortFinishedConnecting={{@modulePortFinishedConnecting}}
  @startedMoving={{@startedMoving}}
  @finishedMoving={{@finishedMoving}}
  @mouseEnterModulePort={{@mouseEnterModulePort}}
  @mouseLeaveModulePort={{@mouseLeaveModulePort}}
  @portDisconnected={{@portDisconnected}}
  @savePatch={{@savePatch}}
  as |wrapper|
>
  <ModuleLabel @title={{@module.title}} />
  <div class="module-content">
    <ToggleButton @label='Trig' {{on 'click' this.trig}} />
  </div>
  <ModulePorts
    @portGroups={{@module.portGroups}}
    @portStartedConnecting={{wrapper.portStartedConnecting}}
    @portFinishedConnecting={{wrapper.portFinishedConnecting}}
    @mouseEnterPort={{wrapper.mouseEnterPort}}
    @mouseLeavePort={{wrapper.mouseLeavePort}}
    @disconnectPort={{wrapper.disconnectPort}}
  />
</ModuleWrapper>
