<ModuleLabel @title={{module.title}} />
<div class="module-content">
  <ToggleButton @label='Trig' {{on 'click' this.trig}}/>
</div>
<ModulePorts
  @portGroups={{module.portGroups}}
  @portStartedConnecting={{this.portStartedConnecting}}
  @portFinishedConnecting={{this.portFinishedConnecting}}
  @mouseEnterPort={{this.mouseEnterPort}}
  @mouseLeavePort={{this.mouseLeavePort}}
  @disconnectPort={{this.disconnectPort}}
/>
