<PatchDiagram
  @patch={{this.patch}}
  @needsUpdate={{this.diagramNeedsUpdate}}
  @didUpdate={{this.diagramDidUpdate}}
  @removeConnection={{this.removeConnection}}
  @moduleDeselected={{this.moduleDeselected}}
  @movingModule={{this.movingModule}}
  @connectingFromPort={{this.connectingFromPort}}
/>

{{#ember-wormhole to="settings-container"}}
  <div>
    {{#if selectedModule}}
      <ModuleSettings @module={{this.selectedModule}} @addBusConnection={{this.addBusConnection}} />
    {{else}}
      <PatchSettings
        @patch={{this.patch}}
        @removePatch={{this.removePatch}}
        @patchTitleChanged={{this.patchTitleChanged}}
      />
      <div class="app-sidebar-section modules-list"><h4>+ Module</h4>
      <ul>
        <li><AddModuleMenuItem @moduleType='array' @label='Array' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='clock' @label='Clock' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='clock-div' @label='Clock Div' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='in' @label='In' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='out' @label='Out' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='ccout' @label='CC Out' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='sequence' @label='Sequence' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='scale' @label='Scale' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='switch' @label='Switch' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='maybe' @label='Maybe' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='mute' @label='Mute' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='value' @label='Value' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='repeat' @label='Repeat' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='sequence-euclidean' @label='Euclidean' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='analyst' @label='Guess Key' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='button' @label='Button' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='merge-voices' @label='Merge Voices' @addModule={{this.addModule}} /></li>
        <li><AddModuleMenuItem @moduleType='plonkmap' @label='PlonkMap' @addModule={{this.addModule}} /></li>
      </ul>
      </div>
    {{/if}}
  </div>
{{/ember-wormhole}}

<div class="modules" id="modules">
  {{#each patch.modules as |module|}}
    {{component   module.type
                  module=module
                  remove=(action 'removeModule' module)
                  selected=(action 'moduleSelected' module)
                  modulePortStartedConnecting=(action 'modulePortStartedConnecting' module)
                  modulePortFinishedConnecting=(action 'modulePortFinishedConnecting')
                  startedMoving=(action 'moduleStartedMoving' module)
                  finishedMoving=(action 'moduleFinishedMoving')
                  mouseEnterModulePort=(action 'mouseEnterModulePort')
                  mouseLeaveModulePort=(action 'mouseLeaveModulePort')
                  portDisconnected=(action 'portDisconnected')
                  portsChanged=(action 'modulePortsChanged' module)
                  layoutChanged=(action 'moduleLayoutChanged' module)
                  savePatch=(action 'savePatch')
    }}
  {{/each}}
</div>
