{{patch-diagram
  patch=patch
  needsUpdate=diagramNeedsUpdate
  didUpdate=(action 'diagramDidUpdate')
  removeConnection=(action 'removeConnection')
  moduleDeselected=(action 'moduleDeselected')
  movingModule=movingModule
  connectingFromPort=connectingFromPort
}}

{{#ember-wormhole to="settings-container"}}
  <div>
    {{#if selectedModule}}
      {{module-settings module=selectedModule addBusConnection=(action 'addBusConnection')}}
    {{else}}
      {{patch-settings
        patch=patch
        removePatch=(action 'removePatch')
        patchTitleChanged=(action 'patchTitleChanged')
      }}
      <div class="app-sidebar-section modules-list"><h4>+ Module</h4>
      <ul>
        <li>{{add-module-menu-item moduleType='clock' label='Clock' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='clock-div' label='Clock Div' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='in' label='In' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='out' label='Out' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='ccout' label='CC Out' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='sequence' label='Sequence' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='scale' label='Scale' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='switch' label='Switch' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='maybe' label='Maybe' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='mute' label='Mute' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='value' label='Value' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='repeat' label='Repeat' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='sequence-euclidean' label='Euclidean' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='analyst' label='Guess Key' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='button' label='Button' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='merge-voices' label='Merge Voices' addModule=(action 'addModule')}}</li>
        <li>{{add-module-menu-item moduleType='plonkmap' label='PlonkMap' addModule=(action 'addModule')}}</li>
      </ul>
      </div>
    {{/if}}
  </div>
{{/ember-wormhole}}

<div class="modules" id="modules">
  {{#each patch.modules as |module|}}
    {{component   module.type
                  module=module
                  remove=(action 'removeModule' module)
                  selected=(action 'moduleSelected' module)
                  portStartedConnecting=(action 'portStartedConnecting' module)
                  portFinishedConnecting=(action 'portFinishedConnecting')
                  startedMoving=(action 'moduleStartedMoving' module)
                  finishedMoving=(action 'moduleFinishedMoving')
                  mouseEnterPort=(action 'mouseEnterPort')
                  mouseLeavePort=(action 'mouseLeavePort')
                  portDisconnected=(action 'portDisconnected')
                  portsChanged=(action 'modulePortsChanged' module)
                  layoutChanged=(action 'moduleLayoutChanged' module)
                  savePatch=(action 'savePatch')
    }}
  {{/each}}
</div>
