<label class="setting-label">
  {{input type="checkbox" checked=port.isEnabled}}
  {{labelWithType}}
</label>
{{#unless port.isEnabled}}
  {{#if portIsValueIn}}
    {{value-input-number
      boundValue=port.disabledValue
      canBeEmpty=port.canBeEmpty
      minValue=port.minValue
      maxValue=port.maxValue
    }}
  {{else if portIsEventOut}}
    <div class="select-menu-wrapper">{{select-menu items='hi,there' selectedItem='there'}}</div>
  {{/if}}
{{/unless}}
