<label class="setting-label">
  {{input type="checkbox" checked=port.isEnabled}}
  {{labelWithType}}
</label>
{{#unless port.isEnabled}}
  {{#if portIsValueIn}}
    <ValueInputNumber
      @boundValue={{this.port.disabledValue}}
      @canBeEmpty={{this.port.canBeEmpty}}
      @minValue={{this.port.minValue}}
      @maxValue={{this.port.maxValue}}
      @valueChanged={{this.valueInputChanged}}
    />
  {{else if port.isEventPort}}
    {{port-setting-bus-menu
      busses=port.module.patch.busses
      connectedBus=connectedBus
      disconnectFromBus=(action 'disconnectFromBus')
      connectToBus=(action 'connectToBus')
    }}
  {{/if}}
{{/unless}}
