<label class="setting-label">
  {{input type="checkbox" checked=this.port.isEnabled}}
  {{this.labelWithType}}
</label>
{{#unless this.port.isEnabled}}
  {{#if this.portIsValueIn}}
    <ValueInputNumber
      @boundValue={{this.port.disabledValue}}
      @canBeEmpty={{this.port.canBeEmpty}}
      @minValue={{this.port.minValue}}
      @maxValue={{this.port.maxValue}}
      @onChange={{action this.updateDisabledValue}}
    />
  {{else if this.port.isEventPort}}
    {{port-setting-bus-menu
      busses=this.port.module.patch.busses
      connectedBus=this.connectedBus
      disconnectFromBus=(action 'disconnectFromBus')
      connectToBus=(action 'connectToBus')
    }}
  {{/if}}
{{/unless}}
