<div class="module-header"><ModuleLabel @title={{module.title}} /></div>
<div class="module-content">
<ValueInputArray
  @array={{this.module.steps}}
  @inputType={{this.module.inputType}}
  @displayScale={{this.module.displayScale}}
/>
</div>

<ModulePorts
  @portGroups={{module.portGroups}}
  @portStartedConnecting={{this.portStartedConnecting}}
  @portFinishedConnecting={{this.portFinishedConnecting}}
  @mouseEnterPort={{this.mouseEnterPort}}
  @mouseLeavePort={{this.mouseLeavePort}}
  @disconnectPort={{this.disconnectPort}}
/>
