<div
  class="rangeslider {{this.orientationClass}}"
  {{on "mousedown" this.onMouseDown}}
  {{on "touchstart" this.onTouchStart}}
>
  <div class="rangeslider-fill" style={{this.fillStyle}}></div>
  <div class="rangeslider-handle" style={{this.handleStyle}}></div>
</div>
