<div class ="app-header">
  <div class="select-menu-wrapper"><SelectByTitleMenu @items={{patches}} @selectedItem={{currentPatch}} @itemSelected={{action "patchChanged"}} /></div>
  <button {{action 'newPatch'}}>New</button>
</div>
<div class="app-sidebar" id="settings-container">
</div>
{{outlet}}
