<div class="patch-connections">
  <button {{action 'addModule' 'clock'}}>+Clock</button><button {{action 'addModule' 'out'}}>+Out</button><button {{action 'addModule' 'sequence'}}>+Sequence</button>
  <p>Source: {{sourceModule.type}} {{sourcePort.label}}</p>
  <p>Dest: {{destModule.type}} {{destPort.label}}</p>
  <button {{action 'addConnection' sourcePort destPort}}>Connect</button>
</div>

<div class="patch">
  {{patch-diagram patch=model}}

  <ul class="modules-list">
    {{#each model.modules as |module|}}<li>{{component  module.constructor.modelName
                                                        module=module 
                                                        selectPort=(action 'selectModulePort' module) 
                                                        remove=(action 'removeModule' module)
          }}</li>{{/each}}
  </ul>

</div>